// --width--
$widthM: 76.8rem;
$widthL: 100rem;

// --text--
$baby: 1rem;
$kids: 1.2rem;
$short: 1.6rem;
$tall: 2rem;
$grande: 2.4rem;
$enorme: 2.8rem;

// --color palette--
$black: rgb(51, 51, 51); // #333
$white: rgb(255, 255, 255);
$gentleGreen: rgb(231, 255, 231);
$darkNavy: rgb(50, 54, 72);
$grey: rgb(225, 229, 234); // #e1e5ea
$gentleGrey: rgb(248, 249, 250); // #f8f9fa
$bgGrey: rgb(243, 243, 243); // #f3f3f3
$btn: rgb(255, 153, 0); // #ff9000
$busYellow: rgb(252, 194, 27); // #fcc21b
$favYellow: rgb(254, 207, 52); // #fed136
$tippGreen: rgb(211, 238, 221);
$footer: rgb(229, 229, 229); // #e5e5e5
$money: "#FFCD01";

// navitime
$cpRecent: #026400;
$cpRecentLight: #e5efe5;
$cpPrimary: rgb(0, 100, 0); // #006400
$cpSecondary: rgb(0, 132, 0); // #008400
$cpLight: rgb(0, 139, 0); // #008b00
$cpBus:rgb(0, 192, 165); // #00C0A5
$sgMoto: rgb(147, 196, 216); // #93C4D8

// career
$docomo: rgb(204, 0, 51); // #cc0033
$au: rgb(235, 85, 5); // #eb5505